{% extends "layout.html" %}

{% block title %}
  Binary Search
{% endblock %}

{% block main %}
  <div class = "row">
    <div class="col text-center">
      <div class="title">
        Less is more
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6" style="text-align: left;">
      <text class="text-responsive">Binary Search is more or less the algorithm you use when searching for a name in a dictionary.
            Start by checking the middle element of the list. If this is our value, then we are done and we can return True. If our desired value is less than this midpoint, then we can disregard the latter half of the list
            and only keep the former. The opposite applies for if the value is greater than the midpoint. We then take this half of the list and perform the same steps on it again:
            access and check the midpoint, get the first half of the list if our desired value is less than the midpoint, and the second if the opposite. Repeat this until we have a list of length 1. If the element in this list is our
            value, return True. If not, return False. Because of the repetition in steps on smaller divisions of the same collection of data, binary search lends itself well to a recursive implementation. One crucial thing to note is
            that <b>the list must be sorted for the searching algorithm to work.</b></text>
    </div>
    <div class="col-6" style="text-align: left;">
      <canvas id="bSearchGraph"></canvas>
    </div>
  </div>
  <form action="/searches/binarySearch" method="post" name="elements" id="elements">
    <div class="row">
        <div class="col">
            <div class="form-group">
              <textarea class="form-control" form="elements" name="bSearchInput" id="bSearchInput" rows="1" cols="50" oninput="this.value = this.value.replace(/\n/g,'')" placeholder="Enter comma separated numbers to sort"></textarea>
            </div>
        </div>
        <div class="col">
          <div class="form-check-inline" style="margin-top:13%;">
            <input class="form-check-input" type="checkbox" name="random" id="random" value="random">
            <label class="form-check-label" for="random">
              Generate random array
            </label>
          </div>
        </div>
        <div class="col">
            <div class="form-group">
              <textarea class="form-control" form="elements" name="bSearchVal" id="bSearchVal" rows="1" cols="20" oninput="this.value = this.value.replace(/\n/g,'')" form="elements" placeholder="Enter number to find"></textarea>
            </div>
        </div>
    </div>
  </form>
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-outline-info" form="elements" name="searchBtn" id="searchBtn">Search</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {% if searchDone %}
        {% if steps ==  -1 %}
          List must be sorted
        {% elif steps == -2 %}
          Invalid list/value
        {% elif steps == False %}
          Item not found
        {% else %}
          {{ val }} found in {{ steps }} steps at index {{ ind }} and took {{ timeTaken }} ns
        {% endif %}
      {% endif %}
    </div>
  </div>
  <script>
    var xAxis = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
    var yAxis = [];
    for (const n of xAxis)
    {
      yAxis.push(Math.log(n));
    }
    var bSearchGraph = document.getElementById('bSearchGraph').getContext('2d');
    var graph = new Chart(bSearchGraph, {
      type:'line',
      data:{
        xAxisID:"Elements",
        yAxisID:"Comparisons",
        datasets:[{
          label:'Worst case O(log n)',
          data:yAxis,
          fill:false,
          borderColor:"#AC3B61",
          pointBackgroundColor:"#AC3B61",
          pointRadius:0
        }, {
          label:'Best case Ω(1)',
          data:[1,1,1,1,1,1,1,1,1,1,1],
          fill:false,
          borderColor:"cyan",
          pointBackgroundColor:"cyan",
          pointRadius:0
        }
        ],
        labels:xAxis
      },
      options:{}
    });
  </script>
{% endblock %}
