{% extends "layout.html" %}

{% block title %}
  Bubble Sort
{% endblock %}

{% block main %}
  <div class = "row">
    <div class="col text-center">
      <div class="title">
        Bubble Bobble
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6" style="text-align: left;">
      <text>Bubble Sort repeatedly iterates over an unsorted array and swaps the i<sup>th</sup> element with the i+1<sup>th</sup> element
      if the i<sup>th</sup> element is greater. This means that the greatest value in the list will 'bubble' to the end of the list after each pass.
      An optimized bubble sort would iterate through 1 less elements of the list after each pass, as we know in the previous pass that the next largest
      value was put in the correct position.</text>
    </div>
    <div class="col-6" style="text-align: left;">
      <canvas id="bSortGraph"></canvas>
    </div>
  </div>
  <form action="/sorts/bubbleSort" method="post" name="elements" id="elements">
    <div class="row">
        <div class="col">
            <div class="form-group">
              <textarea class="form-control" form="elements" name="bSortInput" id="bSortInput" rows="1" cols="50" oninput="this.value = this.value.replace(/\n/g,'')" placeholder="Enter comma separated numbers to sort"></textarea>
            </div>
        </div>
    </div>
  </form>
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-outline-info" form="elements" name="searchBtn" id="searchBtn">Sort</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {% if sortDone %}
        {% if steps ==  -1 %}
          Invalid list
        {% else %}
          {{ res }} sorted in {{ steps }} steps
        {% endif %}
      {% endif %}
    </div>
  </div>
  <script>
    var bSortGraph = document.getElementById('bSortGraph').getContext('2d');
    var graph = new Chart(bSortGraph, {
      type:'line',
      data:{
        xAxisID:"Elements",
        yAxisID:"Comparisons",
        datasets:[{
          label:'Worst case O(n^2)',
          data:[0,1,4,9,16,25,36,49,64,81,100],
          fill:false,
          borderColor:"#AC3B61",
          pointBackgroundColor:"#AC3B61",
          pointRadius:0
        }, {
          label:'Best case O(n)',
          data:[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
          fill:false,
          borderColor:"cyan",
          pointBackgroundColor:"cyan",
          pointRadius:0
        }
        ],
        labels:[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
      },
      options:{}
    });
  </script>
{% endblock %}
