{% extends "layout.html" %}

{% block title %}
  Linear Search
{% endblock %}

{% block main %}
  <div class = "row">
    <div class="col text-center">
      <div class="title">
        One by one
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6" style="text-align: left;">
      <text>Linear Search is extremely simple in execution: iterate
            over each element in the list and return True if the current element is
            equal to the desired value. If the list is exhausted and no value has been found,
            return False. This means that in the worst case, we will have to iterate over the entire list.
            This makes linear search a good choice for smaller lists as it will always be quick to go through
            every element, but in the case of large amounts of data, the search becomes more expensive to execute.</text>
    </div>
    <div class="col-6" style="text-align: left;">
      <text>Graphs go here</text>
    </div>
  </div>
  <form action="/linearSearch" method="post" name="elements" id="elements">
    <div class="row">
        <div class="col">
            <div class="form-group">
              <textarea class="form-control" form="elements" name="lSearchInput" id="lSearchInput" rows="1" cols="50" oninput="this.value = this.value.replace(/\n/g,'')" placeholder="Enter comma separated numbers to sort"></textarea>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
              <textarea class="form-control" form="elements" name="lSearchVal" id="lSearchVal" rows="1" cols="20" oninput="this.value = this.value.replace(/\n/g,'')" form="elements" placeholder="Enter number to find"></textarea>
            </div>
        </div>
    </div>
  </form>
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-outline-info" form="elements" name="searchBtn" id="searchBtn">Search</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {% if searchDone %}
        {% if steps == -1 %}
          Invalid list/value
        {% elif steps == False %}
          Item not found
        {% else %}
          {{ val }} found in {{ steps }} steps
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
