{% extends "layout.html" %}

{% block title %}
  Merge Sort
{% endblock %}

{% block main %}
  <div class = "row">
    <div class="col text-center">
      <div class="title">
        It's all coming together
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6" style="text-align: left;">
      <text>Merge Sort is a divide and conquer algorithm. It works in two main phases:
        the divide phase, where the list is repeatedly halved until each element is in its own sublist with length 1,
        and the merge phase, where these smaller sublists are combined together in sorted order. This merging process
        repeats until we are left with the original list in sorted order.
        Because the same algorithm is repeated over smaller and smaller divisions of the list, Merge Sort is recursive in nature.</text>
    </div>
    <div class="col-6" style="text-align: left;">
      <canvas id="mSortGraph"></canvas>
    </div>
  </div>
  <form action="/sorts/mergeSort" method="post" name="elements" id="elements">
    <div class="row">
        <div class="col">
            <div class="form-group">
              <textarea class="form-control" form="elements" name="mSortInput" id="mSortInput" rows="1" cols="50" oninput="this.value = this.value.replace(/\n/g,'')" placeholder="Enter comma separated numbers to sort/range"></textarea>
            </div>
        </div>
        <div class="col">
          <div class="form-check-inline" style="margin-top:13%;">
            <input class="form-check-input" type="checkbox" name="random" id="random" value="random">
            <label class="form-check-label" for="random">
              Generate random array
            </label>
          </div>
        </div>
        <div class="col">
          <div class="form-group" style="margin-top:2%;">
            <input type="file" class="form-control-file" id="csvFile" name="csvFile">
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="order" id="order" value="ascending" checked>
          <label class="form-check-label" for="ascending">
            Ascending
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="order" id="order" value="descending">
          <label class="form-check-label" for="descending">
            Descending
          </label>
        </div>
        <button type="submit" class="btn btn-outline-info" form="elements" name="searchBtn" id="searchBtn">Sort</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col">
      {% if done %}
        {% if res ==  -1 %}
          Invalid list/range
        {% elif res == -2 %}
          Invalid file
        {% else %}
          {{ res }} sorted in {{ steps }} steps and took {{ timeTaken }} ns
        {% endif %}
      {% endif %}
    </div>
  </div>
  <script>
    var xAxis = [1,2,3,4,5,6,7,8,9,10];
    var yAxis = [];
    for (const n of xAxis)
    {
      yAxis.push(n * Math.log(n));
    }
    var mSortGraph = document.getElementById('mSortGraph').getContext('2d');
    var graph = new Chart(mSortGraph, {
      type:'line',
      labels:xAxis,
      data:{
        xAxisID:"Elements",
        yAxisID:"Comparisons",
        datasets:[{
          label:'Worst/best case O(n log n)',
          data:yAxis,
          fill:false,
          borderColor:"purple",
          pointBackgroundColor:"purple",
          pointRadius:0
        }],
       precision:4,
       options: {
         scales: {
           ticks: {
             suggestedMin: 0,
             suggestedMax: 10
           }
         }
       }
      },
    });
  </script>
{% endblock %}
