{% extends "layout.html" %}

{% block title %}
  Sorts
{% endblock %}

{% block main %}
  <div class = "row-6">
    <div class="title">
      For all your sorting needs
    </div>
  </div>
  <div class="row">
    <div class="col heading">
      <div class="card" style="margin: auto; max-width:80%">
        <img class="card-img-top" src="static/icons/bubbles.png" alt="Bubblesort card image cap"></img>
        <div class="card-body">
          <h4 class="card-title">Bubble Sort</h4>
          <a href="/sorts/bubbleSort" class="btn btn-primary stretched-link">Go</a>
        </div>
      </div>
    </div>
    <div class="col heading">
      <div class="card" style="margin:auto; max-width:80%;">
        <img class="card-img-top" src="static/icons/merge.png" alt="Mergesort card image cap" style="margin-top:2%;"></img>
        <div class="card-body">
          <h4 class="card-title">Merge Sort</h4>
          <a href="/sorts/mergeSort" class="btn btn-primary stretched-link">Go</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
